<%= form_for(recipe) do |f| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :ingredient %>
    <%= f.text_area :ingredient %>
  </div>

  <div class="field">
    <%= f.label :method %>
    <%= f.text_area :method %>
  </div>

  <div class="field">
    <%= f.label :cooking_time %>
    <%= f.number_field :cooking_time %>
  </div>

  <div class="field">
    <%= f.label :servings %>
    <%= f.number_field :servings %>
  </div>

  <div class="field">
    <%= f.label :difficulty %>
    <%= f.number_field :difficulty %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
